span {
  height: 100px;
  width: 100px;
  background: #fff;
  border-radius: inherit;
  display:flex;
  align-items: center;
  justify-content: center;
}

i {
  font-size: 50px;
  background: linear-gradient(#9b27ca 0%, #9927cf 0%, #d33639 100%, #f92121 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

h2 {
  margin-top: 35px;
  font-size: 32px;
}

p {
  font-size: 19px;
  text-align: center;
  margin-top: 20px;
}

button {
  margin-top: 30px;
  padding: 10px 30px;
  font-size: 18px;
  border: none;
  outline:none;
  color:#fff;
  border-radius: 50px;
  cursor:pointer;
  background: linear-gradient(135deg, #9b27ca 0%, #9927cf 0%, #d33639 100%, #f92121 100%);
}